 

 .container-fluid{
     padding: 3% 15%;
 }

 .navbar-brand
{
    
    font-size: 25px !important;
    font-family: "Montserrat";
}

.navbar-nav { 
            margin-left: auto; 
        } 
.nav-item
{
    padding: 0 18px;
}

.nav-link
{
    font-family: "Montserrat";
    font-size: 1.4rem;
}

.navbar
{
    padding:0 0 1rem;
}

.home{
    position: relative;
}


  

.centered {
    background: rgb(0, 0, 0); /* fallback color */
   background: rgba(7, 7, 7, 0.7);
   padding: 10px; 
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Montserrat";
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
}

.about{
    padding: 5rem;
    font-family: "Montserrat";
    font-weight: 300;
    text-align: center;
    background-color: rgb(44, 42, 42);
    color: black;
    background-image: url(feat.jpg);
    padding: 7% 12%;
    filter: brightness(95%);
}
    
#connect,#projects{
    text-align: center;
    font-weight: bolder ;
    font-family: "Montserrat";
    color: rgb(5, 5, 5);
    padding: 7% 10%;
   
    background-image: url(feat.jpg);

 }  
 
 #features,#blogs{
    text-align: center;
    font-weight: bolder;
    font-family: "Montserrat";
    
    color: rgb(5, 5, 5);
    padding: 7% 12%;
   
    background-image: url(tri1c.png);
 }   

.connect{
    position: relative;
    margin: 30px;
}
ul {
    list-style-type: none;
  }



.feature-box
{
    
    margin-bottom: 1.5rem;
}
.iconify{
    size: 4rem;
}
a{
    color: white;
}
    
    
          
    
  

  